@using ITest.Web.Areas.User.Models
@model IEnumerable<CategoryViewModel>
@{
    ViewData["Title"] = "Dashboard";
}

<h1> Dashboard </h1>
<p>@TempData["NoTestInCategory"]</p>
<hr class="dashboard-breaker">
<br>
@if (((string)(TempData["Success-Message"] ?? "")).Any())
{
    <br />
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success-Message"]
    </div>
}
<div class="container index">
    <div class="row">
        <div class="col-md-6">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <ul class="category-select nav nav-tabs">
                        @{ var x = 0; }
                        @foreach (var c in Model)
                        {

                            // the first loaded class must be selected..
                            <li class="">
                                <a href="#tab@(x++)default"
                                   id="#category-tab"
                                   data-toggle="tab"
                                   data-category="@c.Name">
                                    @c.Name
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        @{ x = 0; }
                        @foreach (var c in Model)
                        {
                            <div class="tab-pane fade in" id="tab@(x++)default">
                                <div class="well well-sm clearfix">
                                    <span class="pull-left"></span>
                                    @if (c.HasUserTakenTestForThisCategory)
                                    {
                                        <button type="button" class="btn btn-default pull-right" disabled>Submited</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="test-start-btn btn btn-default pull-right">Start Test</button>
                                    }

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/user-tests.js"></script>
}