@model DisableTestViewModel

<form asp-area="Admin" asp-controller="Manage" asp-action="PublishTest" method="post" class="publish-test">
    <input id="testName" name="testName" type="hidden" value="@Model.TestName" />
    <input id="categoryName" name="categoryName" type="hidden" value="@Model.CategoryName" />

    <button type="button" class="btn btn-success btn-xs trigger-modal-btn" data-toggle="modal" data-target=".test-publish-modal">
        <span class="glyphicon glyphicon-ok"></span>
        Publish
    </button>

    <div class="test-publish-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to Publish this Test?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Nope</button>
                    <button type="submit" id="modal-submit-btn" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
</form>

<a class='btn btn-warning btn-xs disabled'>
    <span class="glyphicon glyphicon-edit"></span>
    Edit
</a>

<a class='btn btn-danger btn-xs disabled'>
    <span class="glyphicon glyphicon-remove"></span>
    Delete
</a>