@model DisableTestViewModel

<form asp-area="Admin" asp-controller="Manage" asp-action="PublishTest" method="post" class="publish-test">
    <input id="Id" name="Id" type="hidden" value="@Model.Id" />

    <button type="submit" class="btn btn-success btn-xs">
        <span class="glyphicon glyphicon-ok"></span>
        Publish
    </button>
</form>

<a class='btn btn-warning btn-xs disabled'>
    <span class="glyphicon glyphicon-edit"></span>
    Edit
</a>

<a class='btn btn-danger btn-xs disabled'>
    <span class="glyphicon glyphicon-remove"></span>
    Delete
</a>