@model DisableTestViewModel

<div class="row">
    <form asp-area="Admin" asp-controller="Manage" asp-action="PublishTest" method="post" class="col-xs-4 publish-test">
        <input id="Id" name="Id" type="hidden" value="@Model.Id" />

        <button type="submit" class="col-xs-12 btn btn-success btn-xs">
            <span class="glyphicon glyphicon-ok"></span>
            Publish
        </button>
    </form>

    <div class="col-xs-4">
        <a class='col-xs-12 btn btn-warning btn-xs disabled'>
            <span class="glyphicon glyphicon-edit"></span>
            Edit
        </a>
    </div>

    <div class="col-xs-4">
        <a class='col-xs-12 btn btn-danger btn-xs disabled'>
            <span class="glyphicon glyphicon-remove"></span>
            Delete
        </a>
    </div>
</div>
