<div class="panel panel-default">
    <button type="button" class="btn btn-danger btn-xs pull-right delete-question">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <a data-toggle="collapse" data-parent="#accordion">
        <div class="panel-heading">
            <h4 class="panel-title">
                Question
            </h4>
        </div>
    </a>
    <div class="panel-collapse collapse">
        <div class="panel-body">
            <div class="question-description">
                <h3>Description</h3>
                <div class="summernote"></div>
            </div>
            <div class="answers-container">

            </div>
        </div>
        <div class="panel-body">
            <button type="button" class="btn btn-default pull-right add-answer">Add Answer</button>
        </div>
    </div>
</div>