<div class="panel panel-default" id="Qiestion-{{q_id}}">
    <button type="button" class="btn btn-danger btn-xs pull-right delete-question">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <a href="#collapse-{{q_id}}" data-toggle="collapse" data-parent="#accordion">
        <div class="panel-heading">
            <h4 class="panel-title">
                Question {{q_id}}
            </h4>
        </div>
    </a>
    <div class="panel-collapse collapse" id="collapse-{{q_id}}">
        <div class="panel-body">
            <div class="question-description">
                <h3>Description</h3>
                <input type="text" id="Questions_{{q_id}}__Body" name="Questions[{{q_id}}].Body" value="" class="summernote form-control"></input>
            </div>
            <div class="answers-container">

            </div>
        </div>
        <div class="panel-body">
            <button type="button" name="collapse-{{q_id}}" class="btn btn-default pull-right add-answer">Add Answer</button>
        </div>
    </div>
</div>