<div>
    <h3 class="form-inline">Answer</h3>
    <label class="btn btn-success pull-right">
        <input type="radio" autocomplete="off" chacked>
        <span class="glyphicon glyphicon-ok"></span>
    </label>
    <input id="Questions_{{q_id}}__Answers_{{a_id}}__Content" name="Questions[{{q_id}}].Answers[{{a_id}}].Content" class="summernote form-control"></input>
</div>