@model PublishTestViewModel

<a class='btn btn-success btn-xs disabled'>
    <span class="glyphicon glyphicon-ok"></span>
    Published
</a>

<a class='btn btn-warning btn-xs disabled'>
    <span class="glyphicon glyphicon-edit"></span>
    Edit
</a>

<form asp-area="Admin" asp-controller="Manage" asp-action="DisableTest" method="post" class="disable-test">
    <input id="Id" name="Id" type="hidden" value="@Model.Id" />

    <button type="submit" class="btn btn-danger btn-xs trigger-modal-btn">
        <span class="glyphicon glyphicon-ban-circle"></span>
        Disable
    </button>
</form>