@model ManageTestViewModel

@{
    ViewData["Title"] = "Edit Test";
}

<div class="container">
    <h4>@ViewData["Title"]</h4>
    <form asp-area="Admin" asp-controller="Manage" asp-action="EditTest" method="post">
        @await Html.PartialAsync("_ManageTestPartial", Model)
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/manage-test-async-operations.js"></script>
}